.add-product-btn {
  background-color: #130f26;
  color: #ffffff;
  border: none;
  border-radius: 1px;
  font-size: 4px;
  top: -20px;
  right: 25px;
  font-family: Rubik, sans-serif;
  text-decoration: none;
  padding: 1.5px 2.5px;
}

.add-product-btn:hover {
  color: white;
}

.products-table {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 13px;
  margin-bottom: 10px;
}

.table-heading {
  font-size: 4px;
}
table {
  width: 90%;
  border: 0.5px solid #9b9b9b;

  border-collapse: collapse;
}
thead {
  background-color: #fedede;
}

th,
td {
  border: 0.5px solid #9b9b9b;
  text-align: center;
}

.table-body {
  background-color: white;
  font-size: 4px;
}

.edit-btn {
  background-color: #7cb8da;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.table-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.delete-btn {
  background-color: #e36161;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.action-btns {
  max-width: 70%;
  height: auto;
  display: block;
}

@media screen and (min-width: 500px) {
  .products-table-page {
    margin-top: 20px;
  }
  .add-product-btn {
    border-radius: 2px;
    font-size: 6px;
    top: -35px;
    right: 30px;
    padding: 2px 4px 2px 4px;
  }
  .table-heading {
    font-size: 6px;
  }
  .table-body {
    font-size: 6px;
  }
  .edit-btn {
    width: 8px;
    height: 8px;
  }

  .table-btn-container {
    gap: 8px;
  }
  .delete-btn {
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 750px) {
  .products-table-page {
    margin-top: 40px;
  }
  .add-product-btn {
    border-radius: 4px;
    font-size: 8px;
    top: -55px;
    right: 35px;
    padding: 2px 6px 2px 6px;
  }
  .table-heading {
    font-size: 9px;
  }
  .table-body {
    font-size: 9px;
  }
  .edit-btn {
    width: 12px;
    height: 12px;
  }

  .table-btn-container {
    gap: 10px;
  }
  .delete-btn {
    width: 12px;
    height: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .products-table-page {
    margin-top: 50px;
  }
  .add-product-btn {
    border-radius: 4px;
    font-size: 14px;
    top: -70px;
    right: 60px;
    padding: 3px 8px 3px 8px;
  }
  .table-heading {
    font-size: 14px;
  }
  .table-body {
    font-size: 14px;
  }
  .edit-btn {
    width: 20px;
    height: 20px;
  }

  .table-btn-container {
    gap: 20px;
  }
  .delete-btn {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1500px) {
  .products-table-page {
    margin-top: 50px;
  }
  .add-product-btn {
    border-radius: 4px;
    font-size: 16px;
    top: -70px;
    right: 70px;
    padding: 3px 10px 3px 10px;
  }
  .table-heading {
    font-size: 16px;
  }
  .table-body {
    font-size: 16px;
  }
  .edit-btn {
    width: 24px;
    height: 24px;
  }

  .table-btn-container {
    gap: 20px;
  }
  .delete-btn {
    width: 24px;
    height: 24px;
  }
}
